body {
    margin: 3rem;
    font-family: "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
    font-size: 16px;
    color: #444444;
}

.header {
    margin-bottom: 3rem;
    border-radius: 10px;
    background-color: #DDDDDD;
}

.data-box {
    padding: 4rem !important;
}

.data-box .data-label {
    font-size: 2rem;
    font-weight: bold;
}

.data-box .data-value {
    font-size: 4rem;
}